<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71129436311-3utvcegvgn8rv5olvjgn70hrl2uuc4i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71129436311-3utvcegvgn8rv5olvjgn70hrl2uuc4i6</string>
	<key>API_KEY</key>
	<string>AIzaSyCocAyZ9wRnMZSwefBedwZ21ItSSXh759U</string>
	<key>GCM_SENDER_ID</key>
	<string>71129436311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.cyberplanete.flutterMessagerV2</string>
	<key>PROJECT_ID</key>
	<string>flutter-messager-39380</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-messager-39380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71129436311:ios:1dc8c4595272af44a299d2</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-messager-39380-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>